@font-face {
    font-family: "Marcellus";
    src: url(../fonts/Marcellus-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}

@font-face {
    font-family: "Mulish";
    src: url(../fonts/Mulish-Regular.ttf);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: "Mulish";
    src: url(../fonts/Mulish-Medium.ttf);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: "Mulish";
    src: url(../fonts/Mulish-SemiBold.ttf);
    font-weight: 600;
    font-style: normal;
}
@font-face {
    font-family: "Mulish";
    src: url(../fonts/Mulish-Bold.ttf);
    font-weight: 700;
    font-style: normal;
}
@font-face {
    font-family: "Mulish";
    src: url(../fonts/Mulish-Black.ttf);
    font-weight: 900;
    font-style: normal;
}
